@media all and (max-width: 1320px) {
    html, body{
        overflow-x: hidden;
    }
    header #deus_sect{
        display: none;
    }
    div#intro {
        position: relative;
        top: 40px;
        display: grid;
        grid-template-columns: auto!important;
    }

    div#intro section button{
        position: relative;
        top: 30px;
        left: 50px;
    }
    div#intro p{
        font-size: 1.3rem;
    }

}
@media all and (max-width: 817px){
/*** parti header***/
    header{
        width: 100%;
        overflow-y: hidden;
    }
    header #nav{
        grid-template-columns: auto;
        justify-content: space-between;
    }

    header #nav ul{
        z-index: 5000;
        background-color: #100720;
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        transform: translateX(1000px);
        transition: 0.5s ease-in-out;
    }
    header #nav ul li{
        margin-top: 20px;
        display: block;
        line-height: 30px;
    }
    header #nav ul.show{
        overflow-y: hidden;
        height: 100%;
        width: 100%;
        transform: translateX(0);
        transition: 0.5s ease-in-out;
    }
    header #nav #logo span{
        font-size: 20.2px;
    }
    header #nav #logo img{
        width: 70px!important; 
        height: 40px!important;
        left: 120px;
    }
    header #icon_resp{
        display: block;
    }

    header #deus_sect{
        display: none;
    }
    div#intro {
        position: relative;
        top: 40px;
        display: grid;
        grid-template-columns: auto!important;
    }

    div#intro section button{
        position: relative;
        top: 30px;
        left: 50px;
    }
    div#intro p{
        font-size: 1.3rem;
    }


    /*** parti main ***/
    main{
        font-size: 10px;
    }

    main #first_intro{
        text-align: center;
        z-index: 10!important;
        display: flex;
        justify-content: center;
    }
    main #first_intro p{
        z-index: 0;
        display: none;
    }
    main .list_cours{
        grid-template-columns: auto!important;
    }
}